.contents {
  order: 0;
  border: 1px solid #6D6570;
  box-sizing: border-box;

  position: relative;
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 860px;
  margin: 0 0 50px 0;
}

.backgroundImg {
  z-index: 0;
  object-fit: cover;
}

.textFrame {
  position: absolute;
  width: 100%;
  height: 310px;
  left: 0px;
  top: 275px;
  padding: 10px;

  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(2px);
  z-index: 1;
}

.typography {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;

  height: 290px;
  margin: 10px auto;

  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  text-shadow: 5px 5px 15px #000000;
  text-align: center;
  line-height: 60px;  /* or 150% */  
}

.topText {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.topTen, .subject {
  flex: 100%;
  white-space: nowrap;
}

.bottomText {
  flex: 100%;
  padding: 0 0 15px 0;
}

@media (min-width: 1435px) {
  .typography {
    font-size: 2.4rem;
  }
}

@media (max-width: 1250px) {
  .typography {
    font-size: 2rem;
  }

  .bottomText {
    padding: 0 0 25px 0;
  }
}

@media (max-width: 1100px) {
  .textFrame {
    background: rgba(0, 0, 0, 0.25);
  }

  .typography {
    font-size: 1.8rem;
  }

  .bottomText {
    padding: 0 0 25px 0;
  }
}

@media (max-width: 1000px) {
  .textFrame {
    background: rgba(0, 0, 0, 0.25);
  }

  .typography {
    font-size: 1.6rem;
  }

  .bottomText {
    padding: 0 0 25px 0;
  }
}

@media (max-width: 960px) {
  .contents {
    min-width: 375px;
    height: 437px;
    margin: 0 0 40px 0;
  }

  .backgroundImg {
    object-fit: cover;
  }

  .textFrame {
    width: 100%;
    height: 125px;
    left: -1px;
    top: 156px;
  }

  .typography {
    justify-content: flex-start;
    width: 100%;
    height: 105px;
    margin: 0 0 0 0px;

    font-size: 1.875rem;
    line-height: 35.16px; 
  }

  .topText {
    flex-wrap: nowrap;
  }

  .topTen, .subject {
    flex: 50%;
  }

  .bottomText {
    padding: 0 10px 0 0;
  }
}