.mainFlexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  margin: 0 auto;

  position: relative;
  min-height: 1020px;
  max-width: 1435px;
}

.flexContentLeft {
  flex: 480px;
  align-self: stretch;
  flex-grow: 0;

  position: relative;
  margin: 0;
  padding: 40px;
  width: 480px;
}

.flexContentRight {
  flex: 955px;
  align-self: stretch;
  flex-grow: 0;

  position: relative;
  margin: 0;
  padding: 40px;
  width: 955px;
}

.subFlexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 840px;
}

@media (max-width: 375px) {
  .mainFlexContainer {
    flex-direction: column;
    flex-wrap: wrap;

    max-width: 375px;
  }

  .flexContentLeft {
    position: relative;
    padding: 0px;
    width: 375px;
  }

  .flexContentRight {
    position: relative;
    padding: 0px;
    width: 375px;
  }

  .subFlexContainer {
    width: 375px;
  }
}
