.mainFlexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  margin: 0 auto;

  position: relative;
  min-height: 1020px;
  max-width: 1435px;
}

.flexContentLeft, .flexContentRight {
  align-self: stretch;
  position: relative;
  margin: 0;
  padding: 40px;
  width: 100%;
}

.flexContentLeft {
  flex: 33%;  
  max-width: 480px;
}

.flexContentRight {
  flex: 66%;
  max-width: 955px;
}

.subFlexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 840px;
  height: 100%;
  max-height: 400px;
}

@media (max-width: 960px) {
  .mainFlexContainer {
    flex-wrap: wrap;
    min-width: 375px;
    max-width: 400px;
    width: 100%;
  }

  .flexContentLeft, .flexContentRight {
    flex: 100%;
    position: relative;
    padding: 0px;
  }

  .subFlexContainer {
    flex-wrap: wrap;
    min-width: 375px;
    height: 880px;
    max-height: none;
  }
}