.contents {
  order: 0;
  border: 1px solid #6D6570;
  box-sizing: border-box;

  position: relative;
  width: 400px;
  height: 860px;
}

.backgroundImg {
  z-index: 0;
}

.textFrame {
  position: absolute;
  width: 401px;
  height: 310px;
  left: -1px;
  top: 275px;
  padding: 10px;

  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(2px);
  z-index: 1;
}

.typography {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;

  width: 308px;
  height: 290px;
  margin: 10px auto;

  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  text-shadow: 5px 5px 15px #000000;
  text-align: center;
  line-height: 60px;  /* or 150% */  
}

.top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.flexItemLeft, .flexItemRight {
  flex: 100%;
  white-space: nowrap;
}

.bottom {
  flex: 100%;
  padding: 0 0 15px 0;
}

@media (max-width: 375px) {
  .contents {
    width: 375px;
    height: 437px;
  }

  .backgroundImg {
    object-fit: contain;
  }

  .textFrame {
    width: 375px;
    height: 125px;
    left: -1px;
    top: 156px;
  }

  .typography {
    justify-content: flex-start;
    width: 375px;
    height: 105px;
    margin: 0 0 0 0px;

    font-size: 1.875rem;
    line-height: 35.16px; 
  }

  .top {
    flex-wrap: nowrap;
    padding: 0 0 0 8px;
  }

  .flexItemLeft, .flexItemRight {
    flex: 50%;
  }

  .bottom {
    padding: 0 10px 0 0;
  }
}